* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
html{
    scroll-behavior: smooth;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 330px;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #ff8800;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;

}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 77px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 21px;
    color: rgb(255, 255, 255);

}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #ff8800;
    background: #ff8800;
    transition: 1s;
}

.menu {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 56px;
    font-weight: 600;

}

p {
    color: #252525;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.menu-col {
    flex-basis: 31%;
    background: #ff880094;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.menu-col p{
    color: #000000;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    padding: 20px;
   
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 25px;
}

.menu-col:hover {
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}

.anleitung {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.anleitung-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.anleitung-col img{
    width: 100%;
    border-radius: 15px;
}

.anleitung-col p{
    padding: 0;
    line-height: 30px;
    
    

}.anleitung-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    color: #ff8800;
    
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ff8800;
    margin: 1em 0;
    padding: 0;
    
}


/*<!---footer-->*/

.copyright {
    padding: 0.3em 1em;
    background-color: #ff8800;
    font-size: 20px;
  }
  .footer-menu{
    float: middle;
      margin-top: 10px;
      
  }
  .footer-menu a{
    color: #030303;
    padding: 6px;
    text-decoration: none;
    
  }
  .footer-menu a:hover, .social i:hover{
    color: #ffffff;
  }
  .copyright p {
    font-size: 1em;
    text-align: right;
    font-size: 25px;
     color: #000000;
  }